
section.about-company {
    margin-top: -75px;
}

section.about-company>.wrapper {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}


section.about-company>.wrapper>div>h2 {
    text-align: center;
    font-size: 35px;
}

section.about-company>div.wrapper>div.image-desp {
    margin-top: 40px;
    display: flex;
}

section.about-company>div.wrapper>div.image-desp>.image {
    flex-basis: 50%;
    padding: 25px;
    display: flex;
    align-items: center;
}

section.about-company>div.wrapper>div.image-desp>div.desp {
    flex-basis: 50%;
    line-height: 1.875rem;
    padding: 45px;
    font-size: 14pt;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

section.about-company>div.wrapper>div.image-desp>.image>img {
    width: 100%;
    height: auto;
}

div.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.stat>strong {
    font-size: 18px;
    line-height: 1.7778em;
    font-weight: 700;
}

div.stats {
    padding: 43px 15px;
    box-shadow: 0px 1px 3px 0px rgba(95, 95, 95, 0.521);
    position: relative;
}


.stat>.amount {
    font-size: 80px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 900;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0px 3px #0f64b1, 0 0px 1px #0f64b1,
        0 0px 1px #0f64b1, 0 0px 1px #0f64b1;
}

.service.image-wrapper>a>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

div.stat > strong{
    position:relative;
    z-index: 2;
    background-color: white;
    margin-top: -24px;
}